/* common Shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: auto;
}

section {
    margin-bottom: 100px;
}

/* first-part-styles*/
.head-image {

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("images/Banner\ Image.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 20px;
    border-radius: 15px;
}

.head-text {
    text-align: center;
    padding-top: 250px;
    color: white;
}

.head-description {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* DISCOUNT SECTION */
.discount-rate {
    text-align: center;
    color: #FF0000;
    font-size: 88px;
    font-weight: 700;
}

.discount-descrip-one {
    text-align: center;
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.discount-catecories {
    text-align: center;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.new-year-photo {
    width: 100%;
    height: 100%;
}

/* midnight styles code */

.midnight-party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("images/Vectorrr.png");
    height: 630px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 15px;

}

.midnight-welcome {
    width: 100%;
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.midnight-first-column {
    margin: 150px 100px;
    width: 80%;
}

.midnight-second-column {
    margin: 150px 120px;
}

.join-btn-midnight {

    background: #07021100;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}


/* style event  */

.event-details {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;

}

.event-details-description {
    padding-top: 150px;
}

.event-title {
    color: #FF0000;
    font-size: 32px;
    font-weight: 600;
}

.event {
    color: #070211;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
}

.join-btn {
    background: #FF0000;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
    border-radius: 10px;
    margin-top: 50px;
}

/* offer Coming Soon Section */
.coming-offer {
    display: flex;


}

.first-coloum-offer {
    width: 35%;
    padding-top: 100px;
}

.second-coloum-offer {
    width: 35%;
    padding-top: 100px;
    padding-left: 140px;
}

.third-coloum-offer {
    width: 30%;
    padding-top: 100px;
    padding-left: 200px;
}

.offer-title {
    text-align: justify;
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.coming-offer {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-image {
    width: 70%;
    height: 70%;
    border: 15px #FF0000 solid;
    border-radius: 9999px;
    padding: 40px;
}

.holiday-details {
    text-align: center;
}

.holiday-sale {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.holiday {
    color: #FF0000;
    font-size: 72px;
    font-weight: 900;
}

/* surprice-image-section */

.surprice-img-section {
    display: flex;
}

.surprice-part-1 {
    width: 70%;
}

.surprice-part-2 {
    background-image: url("images/Rectangle\ 1.png");
    background-repeat: no-repeat;
    height: 400px;
    width: 30%;
    border-radius: 15px;
    margin-right: 25px;

}

.surprice-img-part-2 {
    margin: 25px -180px;
}

/* 2nd-surprice-part-footer */
.surprice-footer-img {
    display: flex;
    background-image: url("images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    height: 500px;

}

.surprice-box {
    margin: -400px 0px 0px 0px;
}

/* gifts part */
.best-gifts {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.portfolio {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    width: 80%;
}
.gifts-part-one{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.gifts-part-two{
    display: flex;
    gap: 15px;
    margin-top: 20px;

}